figure {
  width: 100%;
  max-width: 300px;
  margin: 0 auto 10px;
}

img {
  width: 100%;
  margin: 0;
}

figcaption {
  font-style: italic;
}

blockquote {
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

blockquote p {
  text-align: center;
}

blockquote cite {
  text-align: right;
}

@media screen and (min-width: 768px) {
  .blurb {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    margin: 40px auto;
  }

  h1 {
    text-align: center;
  }

  figure {
    margin: 0;
  }

  blockquote {
    width: 350px;
  }
}
